{% extends "appfood/base.html" %}
{%load static%}

{% block myfood%}

<main>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="side-bar d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="{% url 'home' %}" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>Trang chủ
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'postfood' %}" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>Thêm bài viết
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'notifications' %}" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>Thông báo
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'myfood' %}" class="nav-link active" aria-current="page">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>Quản lý bài viết
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'savefood' %}" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>Bài viết đã lưu
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'list_user' %}" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>Người Dùng
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}" class="nav-link text-white">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>Đăng xuất
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
           
        </div>
    </div>
    
</main>
<link rel="stylesheet" href="{%static "css/mypost.css"%}">
<br>
<div class="container mt-5 mb-5" style="padding-top: 10px;">
    <div class="d-flex justify-content-center row">
        
        {% for recipe in recipes %}
        
        <div class="col-md-10" style="padding-top: 10px;">
            <div class="row p-2 bg-white border rounded"style="width: 890px;float: right;">
                {% if recipe.images.first %}
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" style="width: 200px;height: 150px;" src="{{ recipe.images.first.image.url }}"></div>
                {% endif %}
                <div class="col-md-6 mt-1">
                    <h4>{{recipe.title}}</h4>
                    <br></br>
                    <h5 class="text-justify text-truncate para mb-0">Ngày Đăng : {{recipe.images.first.uploaded_at|date:"d/m/Y"}}</h5>
                    <h5 class="text-justify text-truncate para mb-0">Ngày Chỉnh Sửa:</h5>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-column mt-4"><a href="{% url 'edit_recipe' recipe.id %}" class="btn btn-primary btn-sm" type="button">Chỉnh Sửa</a>
                        <br>
                        <a href="{% url 'delete_recipe' recipe.id %}" class="btn btn-outline-danger">Xóa</a></div>
                </div>
            </div>
            
            
            
        </div>

        {% endfor %}
        {% if recipes.count == 0 %}
    <p>Bạn chưa đăng công thức nào.</p>
        {% endif %}
        
    </div>
</div>

{% endblock myfood%}